<div class="d-flex justify-content-center mt-2">
    <form id="add-post-form" class="card">
        <div class="card-header">
            <h3 for="post-title">Title</h3>
            <input type="text" id="post-title">
        </div>
        <div class="card-body">
            <textarea id="post-content" cols="100" rows="7" placeholder="What would you like to say?" class="w-100"></textarea>
        </div>  
        <div class="text-center">
            <button type="submit" class="btn bg-warning mb-4">Add Post</button>
        </div>
    </form>
</div>

<script src="/javascript/add-post.js"></script>