<ol>
    {{#each posts}}
    <div class="card w-50 mx-auto my-2">
        <div class="card-body">
            <h2 class="card-title">{{title}}</h2>
            <p class="card-subtitle text-secondary">Posted on {{format_date created_at}} by {{user.username}}</p>
        </div>
    <a href="/post/{{id}}" type="button" class="w-25 mx-auto btn btn-warning mb-2">View Post</a>
    </div>
    {{/each}}
</ol>
