<div class="d-flex justify-content-center text-right">
    <form id="signup-form" class="bg-light mt-5 p-2">
        <div>
            <label for="signup-username">Username</label>
            <input type="text" id="signup-username" />
        </div>
        <div>
            <label for="signup-password">Password</label>
            <input type="password" id="signup-password" /> 
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-warning my-1">Signup</button>
        </div>
    </form>
</div>

<div class="d-flex justify-content-center">
    <a href="/login" role="button" class="btn btn-secondary my-1">Login Here</a>
</div>

<script src="/javascript/signup.js"></script>